body {
    overflow-x: hidden;
}

.article {
    height: 82vh;
    overflow: hidden;
}

.top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.price {
    color: green;
    font-size: 30px;
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    height: 500px;
}

.imageProduit {
    object-position: center top;
    width: 100vw;
    margin-left: -20px;
}

.description {
    font-weight: 600;
}

.contrast {
    text-shadow: white 1px 1px 1px, white -1px 1px 1px, white -1px -1px 1px, white 1px -1px 1px;
}

.panier{
    width: 200px;
}

@media (max-width:768px) {
    .imageProduit {
        height: 500px;
    }
    .shop {
        height: 460px;
        background-color: honeydew;
    }
    .article {
        height: 100%;
    }
}

.btn {
    margin-top: 30px;
    margin-bottom: 30px;
}