.card-img-top{
    height: 250px;
}

main{
    min-height: 800px;
}

.margin{
    margin-right: auto;
    margin-left: auto;
    min-width: 120px;
}

.travolta{
    height: 350px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}